<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>kemia.view.MoleculeRenderer</title>
<script src="http://localhost:9810/compile?id=mol_demo"></script>

<link rel="stylesheet"
	href="../../css/demo.css">
	<link rel="stylesheet"
	href="../../css/kemia.css" />

</head>

<h1>Molecule Rendering</h1>
<fieldset>
<legend>Demo:</legend> 
<br>
<label id="selectMolecule">Select a molecule to render below: </label>
<br>

<br>
<div id="container" style="width: 600px; height: 600px"></div>
<br>
</fieldset>
<br> 
  <div id="perf"></div> 


<div id="container" style="width: 4000px; height: 1800px">

</body>
</html>
