<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>kemia.view.ReactionRenderer</title>
<script src="http://localhost:9810/compile?id=api&mode=raw"></script>

<script src="../io/testdata.js"></script>

<script>
	goog.require('kemia.io.mdl');
	goog.require('kemia.io.json');
	goog.require('kemia.view.ReactionRenderer');
	goog.require('goog.events.EventType');
	goog.require('goog.dom');
	goog.require('goog.graphics');
	goog.require('goog.debug.Console');
</script>
<script><!--
    
function initPage(){
	var c = new goog.debug.Console(); 
	c.setCapturing(true); 
	var reaction = kemia.io.json.readReaction(kemia.io.Testdata.reactionDrawing);
	var element = goog.dom.getElement('reactionContainer')
	var graphics = goog.graphics.createGraphics(element.clientWidth,
			element.clientHeight);
	graphics.render(element);

	var rr = new kemia.view.ReactionRenderer( graphics);

	rr.render(reaction);
	rr.moleculeRenderer.highlightOn(
			reaction.getReactants()[0], 'blue');
};

goog.events.listen(window, goog.events.EventType.LOAD, initPage);
--></script>
</head>

<body >
<div id="reactionContainer" style="width: 1000px; height: 400px"></div>

</body>
</html>
