<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>
			kemia.view.ReactionRenderer
		</title>
		<script src="http://localhost:9810/compile?id=reaction_renderer_demo" type="text/javascript">
</script>
	</head>
	<body>
		<div id="reactionContainer" style="width: 1000px; height: 400px"></div>
		<div id="reactionContainerNoReactants" style="width: 1000px; height: 400px"></div>
	</body>
</html>
