<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Ring Layout Demo</title>
<script src="http://localhost:9810/compile?id=layout_ring_layout_demo&mode=raw"></script>


</head>

<body onload="draw()">

<fieldset style="width: 420px">
<h1>Ring Coordinate Generation</h1>
<table >
<tr><th>expected</th><th>generated</th></tr>
<tr>
<td><div id="alpha_pinene1" style="width: 200px; height: 200px"></div></td><td><div id="alpha_pinene2" style="width: 200px; height: 200px"></div></td>
</tr>
<tr>
<td><div id="azulene1" style="width: 200px; height: 200px"></div></td><td><div id="azulene2" style="width: 200px; height: 200px"></div></td>
</tr>
<tr>
<td><div id="biphenyl1" style="width: 200px; height: 200px;"></div></td><td><div id="biphenyl2" style="width: 200px; height: 200px;"></div></td>
</tr>
<tr>
<td><div id="spiro_decane1" style="width: 200px; height: 200px"></div></td><td><div id="spiro_decane2" style="width: 200px; height: 200px"></div></td>
</tr>
</table>

</fieldset>
<br> 
  <div id="perf"></div> 




</body>
</html>
